html,
input {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 900px;
    margin: 0px auto;
    padding: 2em;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: rgb(71, 255, 111);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin-top: 50px;
}

div {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label,
input,
button {
    font-size: 16px;
    line-height: 2;
}

label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input {
    flex: auto;
}

button {
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.445);
    width: 60%
}

error-output {
    background-color: red;
    font-size: 15px;
    font: italic;
    font-family: sans-serif;
}